#wrapper {
    margin:  auto;
    width: 756px;
    border: 1px solid blue;
  }

#header {
    text-align: center;
    height: 70px;
    background-color: lightgreen;
    border: 1px solid green;
  }
  
#inner {
    float: left;
    margin: 5px 0;
    border: 1px solid black;
  }

#sidebar {
    background-color: lightseagreen;
    float: left;
    margin-right: 20px;
    width: 180px;
    border: 1px solid red;
    height: 330px;
  }
  
#inner2 {
    float: left;
    width: 550px;
    height: 330px;
    border: 1px solid green;
  }

#top {
    background-color: lightseagreen;
    text-align: center;
    height: 70px;
    border: 1px solid red;
  }

#content {
    background-color: lightseagreen;
    float: left;
    margin-right: 20px;
    width: 320px;
    border: 1px solid red;
    height: 250px;
  }

#right {
    background-color: lightseagreen;
    float: right;
    width: 205px;
    border: 1px solid green;
    height: 200px;
  }

#footer {
    background-color: lightgreen;
    text-align: center;
    clear: both;
    height: 50px;
    border: 1px solid green;
  }